<div id="container" class="container">

    <!--------------------
      entry banner
    ------------------->

    <div class="banner">
        <img src="images\home-bg.jpg">
        <div class="banner-text">
            <h1>One Place to manage all your <p>Events</p>
            </h1>
        </div>
    </div>

    <!----------------
      Join Events
    ------------------>

    <div id="joineve">
        <div class="container2">
            <h1 class="sub-title">Join Current Events</h1>
            <% var k = 0; 
            for(let i = 0; i < (data.length / 3); i++){ %>
                <div class="options">
                    <% for(let j = 0; j < Math.min(data.length,3); j++){%>
                            <div>
                                <a href="<%= link = data[k].link %>">
                                    <h2><%= name = data[k].name%></h2>
                                    <h4><%= dateTime = 'Date : ' + data[k].date + ' & Time : ' + data[k].time%></h4>
                                    <p><%= desc = data[k].descr %></p>
                                </a>
                            </div>
                    <% k++;} %>
                </div>
            <% } %>
        </div>
    </div>

    <!----------------
        My Events
    ------------------>


    <div id="myeve">
        <div class="container2">
            <h1 class="sub-title">My Events</h1>
            <div class="options">
                <div>
                    <a href="#">

                        <h2>Event Name</h2>
                        <p>date & time</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos aspernatur
                            optio
                            vero, debitis dolorem aliquam! Minus quam eos repellendus?</p>
                    </a>
                </div>
                <div>
                    <a href="#">

                        <h2>Event Name</h2>
                        <p>date & time</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos aspernatur
                            optio
                            vero, debitis dolorem aliquam! Minus quam eos repellendus?</p>
                    </a>
                </div>
                <div>
                    <a href="#">

                        <h2>Event Name</h2>
                        <p>date & time</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos aspernatur
                            optio
                            vero, debitis dolorem aliquam! Minus quam eos repellendus?</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>